<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}

</head>

<body>

<div class="container-fluid">
    <div class="col-xs-12">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("index") }}">DD ONLINE</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Character
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path("character/create") }}">Create</a></li>
                            <li><a href="{{ path("character/list") }}">Show All</a></li>
                        </ul>
                    </li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 0">
                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#login-modal"><span
                                        class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% else %}
                        <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <div class="col-xs-12" style="margin-top: 70px;">
        {#Flashbag msgs#}
        {% for label, messages in app.flashes(['success', 'warning', 'error', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ asset('js/modals.js') }}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $(".dropdown-toggle").dropdown();
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
